.listItem {
  border: inherit;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.actionWrapper {
  margin-left: auto;
}

.markCompletedBtn {
  margin-left: 5px;
}

.updateTaskBtn {
  margin-left: 5px;
}
